@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
  .btn-primary-main {
    @apply flex items-center  justify-center px-2 py-1 text-white text-base font-semibold lg:text-lg duration-300 bg-green-500 rounded-md shadow-sm cursor-pointer sm:px-4  hover:bg-green-600 active:bg-green-700 transform transition active:translate-y-1 focus:ring-2 focus:ring-offset-4 focus:ring-green-600 active:shadow-lg;
  }

  .btn-red {
    @apply flex items-center  justify-center p-2 text-white text-sm font-semibold  duration-300 bg-red-500 rounded-md shadow-sm cursor-pointer  hover:bg-red-600 active:bg-red-700 transform transition active:translate-y-1 shadow-red-500 active:shadow-lg;
  }

  .btn-primary-outline {
    @apply px-2 py-1 border-green-500 rounded-md sm:px-4 sm:py-2 transition duration-300 text-base font-semibold lg:text-lg hover:text-white hover:bg-green-500;
  }

  .btn-primary-outline-fat {
    @apply border-4;
  }

  .btn-primary-outline-thick {
    @apply border-2;
  }

  .btn-sm {
    @apply flex items-center px-2 py-1 font-semibold transition duration-200 transform rounded-md active:translate-y-1 shadow-md;
  }

  .btn-success {
    @apply bg-green-500/60 shadow-green-200;
  }

  .btn-process {
    @apply bg-yellow-500/60 shadow-yellow-200;
  }
}

*::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background-color: rgb(250, 250, 250);
}

*::-webkit-scrollbar-thumb {
  background: rgb(211, 211, 211);
  border-radius: 5px;
}

.swiper-pagination {
  position: relative !important;
  left: 80px !important;
  top: -16px !important;
}

.swiper-pagination-bullet {
  width: 55px !important;
  height: 5px !important;
  border-radius: 0 !important;
}

.swiper-pagination-bullet-active {
  background-color: rgb(34, 197, 94) !important;
}

@media only screen and (max-width: 1023px) {
  .swiper-pagination {
    left: -122px !important;
    top: 5px !important;
  }
}
@media only screen and (max-width: 640px) {
  .swiper-pagination {
    left: -69px !important;
  }
}
@media only screen and (max-width: 638px) {
  .swiper-pagination {
    left: -40px !important;
  }
}
@media only screen and (min-width: 1024px) {
  .swiper-pagination {
    top: 4px !important;
    left: 115px !important;
  }
}
